---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <section class="post-item">
  <header class="post-item-header">
    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
    <p class="post-item-meta">
      <span class="post-item-date">{{ page.date | date: date_format }}</span> 
      {% if page.tags %}
        on 
        <a class="post-item-category" href="/?tag={{ post.tags }}" >{{ page.tags }}</a>
      {% endif %}
    <h2 class="post-item-title">
      <a class="post-link" href="{{ post.url | relative_url }}">
        {{ page.title | escape }}
      </a>
    </h2>
  </header>

  <div class="post-content e-content post-item-description" itemprop="articleBody">
    {{ content }}
  </div>
 </section>
  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
